@page "/"

<div class="container">
    <h2>Login</h2>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-6">
            <a class="btn btn-block btn-lg btn-social btn-google" href="/login">
                <span class="fa fa-google"></span> Sign in with Google
            </a>
        </div>
    </div>
</div>